body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0px;
}

header {
  background-color: #000099;
  color: #f2f2f2;
}

h1.Assignment {
  text-align: center;
  padding: 0.5em;
}

h2.RecordShop {
  text-align: center;
  padding: 1em;
}

p.console {
  background-color: #8c8c8c;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em;
}
